/* specific element styles */
td, th { 
    border: 1px solid #CCC; 
}
table { 
    border: 1px solid black; 
}
caption {
    font-weight: bold;
}
h1 {
    text-align: center;
}


/* div styles */
div > div {
    outline: 2px solid red;
}


/* flex styles */
#body > div {
    padding: 2em;
}

#landing {
    height: 100vh;
}

#landing-ul {
    list-style: none;
}

#sidebar {
    text-align: center;
}


/* grid styles */
#grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#sidebar {
    display: flexbox;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: calc(100%/4);
    grid-row: 1/-1;
    grid-column: span 1;
}

#body {
    display: flexbox;
    flex-direction: column;
    grid-row: 1/-1;
    grid-column: 2/-1;
}